<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pilotos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/pilotos.css">
    <script src="../js/pilotos.js" type="module"></script> 
</head>
</head>
<body>

    <header>
    <div class="top-bar">
        <img src="../storage/img/paginas/logoFia.png" alt="FIA" class="icon">
        <img src="../storage/img/paginas/LogoF1.png" alt="F1" class="icon">
        <img src="../storage/img/paginas/f1TV.logo.png" alt="F1TV" class="icon">
        <div class="user-info">
        <span style="color: red;">Sofía</span>
        <img src="../storage/img/paginas/usuario.png" alt="Usuario" class="icon">
        </div>
        <button class="suscribirse-btn">Suscribirse</button>
    </div>
    </header>

    <nav class="carousel-nav">
    <button>Pilotos</button>
    <button>Equipos</button>
    <button>Vehículos</button>
    <button>Circuitos</button>
    </nav>

    <section class="carousel-item" id="pilotos">
    <h2>Pilotos</h2>
    <div id="pilotos-container"></div>
    </section>

    <section class="carousel-item" id="equipos">
    <h2>Equipos</h2>
    <div id="equipos-container"></div>
    </section>

    <section class="carousel-item" id="vehiculos">
    <h2>Vehículos</h2>
    <div id="vehiculos-container"></div>
    </section>

    <section class="carousel-item" id="circuitos">
    <h2>Circuitos</h2>
    <div id="circuitos-container"></div>
    </section>

</body>
</html>
